* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.services_container .service, .banner_container .btn_container, .banner_container .banner_left, .banner_container, .navbar .navbar_end ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.showcase {
  background-color: #008ea5;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .navbar_end ul li {
  list-style: none;
  margin-right: 20px;
}
.navbar .navbar_end ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.navbar .navbar_end ul li a:hover {
  color: #000;
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .navbar_end ul {
    flex-direction: column;
  }
  .navbar .navbar_end ul li {
    margin-right: 0;
  }
}
.fancy-btn {
  background-color: #915de6;
  color: #000;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.fancy-btn:hover {
  background-color: #000;
  color: #915de6;
  -webkit-animation: fancy-btn 0.5s ease-in-out infinite alternate;
          animation: fancy-btn 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes fancy-btn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fancy-btn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.banner_container {
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #51e9de;
  height: 100vh;
}
.banner_container .banner_left {
  width: 50%;
  padding: 1rem;
  color: #fff;
  flex-direction: column;
  gap: 1rem;
}
.banner_container .btn_container {
  gap: 1rem;
}
.banner_container .banner_right {
  width: 50%;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .banner_container .banner_left {
    width: 100%;
  }
  .banner_container .banner_right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .banner_container .banner_container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner_container .banner_container .banner_left {
    width: 100%;
  }
  .banner_container .banner_container .banner_right {
    width: 100%;
  }
  .banner_container .banner_container .banner_img {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .banner_container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner_container .banner_left {
    width: 100%;
  }
  .banner_container .banner_right {
    width: 100%;
  }
  .banner_container .banner_img {
    width: 100%;
  }
}
.info {
  background: darkGray;
  box-shadow: 0 0 1px rgba(169, 169, 169, 0.25);
  color: #fff;
}

.alert {
  background: DarkRed;
  box-shadow: 0 0 1px rgba(139, 0, 0, 0.25);
  color: #fff;
}

.services_container {
  padding: 1rem;
  margin-top: 2rem;
}
.services_container .service {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #000;
  flex-direction: column;
  gap: 1rem;
}
.services_container .service .service_icon {
  font-size: 3rem;
}
.services_container .service .service_title {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.services_container .service .service_desc {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.services_container .service:hover {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .services_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .services_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .services_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.text-center {
  text-align: center;
  margin-top: 2rem;
  color: skyblue;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
}

::-moz-selection {
  background-color: #fff;
  color: #000;
}

::selection {
  background-color: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #915de6;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #915de6;
}/*# sourceMappingURL=practice.css.map */